
Flippi.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Flippi.xcodeproj/project.xcworkspace/xcuserdata/edwardhuynh.xcuserdatad/UserInterfaceState.xcuserstate

Flippi.xcodeproj/xcuserdata/edwardhuynh.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Flippi.xcodeproj/xcuserdata/edwardhuynh.xcuserdatad/xcschemes/Flippi.xcscheme

Flippi.xcodeproj/xcuserdata/edwardhuynh.xcuserdatad/xcschemes/xcschememanagement.plist
